*{
	margin:0px;
	padding: 0px;
}
body{
	padding:0;
	background: url(images/26.jpg);
}	

#conteiner{
	width: 100%;
	height:100%;
	margin: 0;

}
#head{
	margin: 5px auto;
	width: 80%;
	height: 130px;
	background-image: url(images/head.jpg);
	background-size: 100% 140%;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}
#info{
	display:inline-block;
	border:none;
	margin-top: 2%;
	margin-right: 6%; 
	width:30%;height:80px; 
	background-color: none; 
	float:right;
}
#info strong{
	color:white;
}


#lang{
	display:block;
	padding-top: 20px;
	float:left;
}
#kontact{
	display: block;
	padding: 13px;

	float:right;
}
#logo img{
	display: inline-block;
	float:left;
	width:48%;
	height:80px;
	padding: 20px;
}
#menu{
	display: block;
	margin: 5px auto;
	width: 80%;
	height: 40px;
	background-color: #ff0000;
}

.button{
	display: inline-block;
	background-color: #ff0000; 
	border: 0px #73d742;
	padding: 5px 5px;
	margin:auto 5px; 
	text-align: center;
	color: black;
	font-size: 20px;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.button:hover {
background-color:#E51C20;
}

.button:active{
background-color:#ff0000;
}
#content{
	display: block;
	margin: 0px auto;
	width: 80%;
	height: auto;
	border:0px solid #808080;
	background-color: #e6e6e6;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}
#gallery{
	width: 100%;
	height: auto;
	margin: 5px auto 0;
	
}
#gallery p{
	text-align:center;
	font-size: 15pt;
	font-family: Open Sans;;
}
#gallery img{
	/*transform:scale(0.8);*/ 
	transition-duration: 0.5s; 
	margin:  0 10px 5px 0; /*Интервалы между изображениями*/
	border: 1px solid #ccc;
	width: 20%;
	height: 100px;
	margin-top: 0;

}
#gallery img:hover{
	transform:scale(1.9); /*Webkit: увеличиваем размер до 1.2x*/
	box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
	/*opacity: 1;*/
}

#block1{
	overflow:auto;
	display: inline-block;	
	width: 60%;
	height: 240px;
	margin:5px 0;
	margin-left:10%;
	background-color:#e6e6e6;
	float:left;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}
#block1 h3{
	text-align:center;
	font-size: 15pt;
	font-family: Open Sans;
}

#block1 p{
	text-indent:3em;
	text-align:justify;
	font-size:10pt;
	font-family: Open Sans;
	padding:5px;
}
#block1 li{
	text-indent:3em;
	text-align:justify;
	font-size:10pt;
	font-family: Open Sans;
	padding:5px;
}

#block2{
	display: block;	
	width: 20%;
	height: 240px;
	margin:5px 0;
	margin-right:10%;
	background-color: #e6e6e6;
	float: right;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}
#footer{
	width: 80%;
	height:40px;
	margin: 5px auto;
	margin-top: 255px;
	background:linear-gradient(0deg, #4d94ff, #0066ff);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}
#footer strong{
	margin: 5px;
	font-family: Verdana ;
	font-size: 12px;
	color:white;
}

#callback{
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #7883A2;
    border-radius: 5%;
    position: fixed;
    bottom: 5%;
    right: 1%;
    padding: 10px 8px;
    width: 124px;
    margin: 0 auto;
    cursor: pointer;	
	margin-bottom: 20px;
}

#callback_form{
	width: 200px;
    height: 200px;
    background: #ccc;
    margin: 0 auto;
    padding: 20px;
    line-height: 30px;
    display: none;
}

#callback_form p{
    cursor: pointer;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    background: #7883A2;	
}